<!DOCTYPE html>
<html data-ng-app>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.5">
        <meta name="author" content="Pu-Hsun Wu">
        <title>{% block title %} Title {% endblock %}</title>
        <!--[if IE]><script src="static/js/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 7]><script src="static/js/IE7.js"></script><![endif]-->
        <!--[if lt IE 8]><script src="static/js/IE8.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="static/js/IE9.js"></script><![endif]-->
        <script src="static/js/angular.min.js"></script>
        <script src="static/js/controller.js"></script>
        <link rel="stylesheet" href="static/css/main.css">
        {% block head %}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}

    </body>
</html>
