{% extends '_newAERO_layout.html' %}

{% block title %}AERO{% endblock %}

{% block head %}{% endblock %}

{% block greeting %}
    {% if _SESSION %}
Welcome back, {{ _SESSION.username }}. <a href="/logout">SIGN OUT</a>
    {% endif %}
{% endblock %}


{% block deepblue %}
    {% if _SESSION %}
        <nav>
            <ul>
                <li><a href="/tickets/">Find Flights</a></li>
                <li><a href="/flights/">Flight Schedule</a></li>
            </ul>
        </nav>
    {% else %}
        <h2>SIGN IN</h2>
        <form action="login" method="post" class="block">
            <ul>
                <li>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="arrpasswordival">
                </li>
                <li>
                    <button>Sign In</button>
                </li>
            </ul>
        </form>
        <hr>
        <a href="/signup" class="btn block transparent">Join AERO</a>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}
