{% spaceless %}
<!DOCTYPE html>
<html lang="en" data-ng-app="Airline">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}AERO{% endblock %}</title>
        <!--[if IE]> <script src="static/js/html5shiv.js"></script> <![endif]-->
        <!--[if lt IE 7]> <script src="static/js/IE7.js"></script> <![endif]-->
        <!--[if lt IE 8]> <script src="static/js/IE8.js"></script> <![endif]-->
        <!--[if lt IE 9]> <script src="static/js/IE9.js"></script> <![endif]-->
        <link rel="stylesheet" href="/static/css/reset.min.css">
        <link rel="stylesheet" href="/static/css/newAERO.min.css">
        <link rel="stylesheet" href="/static/css/form.min.css">
        <link rel="stylesheet" href="/static/css/newAERO-bootstrap.min.css">
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls-0.11.0.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertify.js/0.3.11/themes/alertify.core.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertify.js/0.3.11/themes/alertify.default.css">
        <script src="//cdn.jsdelivr.net/alertify.js/0.3.11/alertify.min.js"></script>
        <script src="/static/js/controller.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <span><h1>AERO</h1>&nbsp;|&nbsp;Aerospace&nbsp;Exploration&nbsp;and&nbsp;Research&nbsp;Organization</span>
            </a>
            <span>{% block greeting %}{% endblock %}</span>
        </header>

        <div class="banner">
            <div></div>
        </div>

        <main>
            <section class="deepblue">
                {% block deepblue %}{% endblock %}
            </section>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </main>
        <footer>
            <div class="copy">&copy; 2014 Chiu-Hsiang Hsu &amp; Pu-Hsuan Wu</div>
            <div class="statment">
                <a href="">About This Project</a>
            </div>
        </footer>
    </body>
</html>
{% endspaceless %}
