<!DOCTYPE html>
<html data-ng-app='Airline'>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Pu-Hsun Wu">
        <title>{% block title %}AERO{% endblock %}</title>
        <!--[if IE]><script src="static/js/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 7]><script src="static/js/IE7.js"></script><![endif]-->
        <!--[if lt IE 8]><script src="static/js/IE8.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="static/js/IE9.js"></script><![endif]-->
        <link rel="stylesheet" href="static/css/reset.min.css">
        <link rel="stylesheet" href="static/css/newAERO.min.css">
        <link rel="stylesheet" href="static/css/form.min.css">
        <script src="static/js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="static/js/controller.js"></script>
        {% block head %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}

    </body>
</html>
