{% extends '_newAERO_layout.html' %}

{% block title %}AERO{% endblock %}

{% block head %}{% endblock %}

{% block greeting %}
    {% if _SESSION %}
Welcome back, {{ _SESSION.username }}. <a href="/logout">SIGN OUT</a>
    {% else %}
        <a href="/login">SIGN IN</a>
    {% endif %}
{% endblock %}


{% block deepblue %}
    <nav>
        <ul>
            <li><a href="/tickets/">Find Flights</a></li>
            <li><a href="/flights/">Flight Schedule</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}{% endblock %}
