{% extends '_layout.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/old_main.css">
{% endblock %}
    
{% block body %}
<header>
    <div class="global-logo"><a class="logo"><span>AERO | Aerospace Exploration and Research Organization</span></a></div>
    <div class="global-nav">{% block options %}
	<ul>
	    <li><a href="/flights/">Flights</a></li>
	    {% if _SESSION.is_admin %}
	    <li><a href="/airports/">Airports</a></li>
	    <li><a href="/users/">Users</a></li>
	    {% endif %}
	    <li><a href="/logout">Sign Out</a></li>
	</ul>
    {% endblock %}</div>
</header>

<div class="wrapper">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="global-copyright">&copy; 2014 Chiu-Hsiang Hsu &amp; <a href="http://be.net/phwu">Pu-Hsuan Wu</a></div>
    <ul class="global-legal-documents">
        <li><a href=""></a></li>
    </ul>
</footer>
{% endblock %}
