{% extends '_section.html' %}

{% block title %} AERO {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/static/css/ol.css">
<script src="/static/js/ol.js"></script>
{% endblock %}

{% block content %}
<section class="airport-list">
    <div class="option-bar">
        <h1 class="left">Airports</h1>
        <div class="option-group right">
            {% if _SESSION.is_admin %}
            <a href="/airports/add" class="btn">Add</a>
            {% endif %}
            <input data-ng-model="search" type="search">
        </div>
    </div>

    <table data-ng-controller='airportsList'>
        <thead>
            <tr>
                <td>ID</td>
                <td>IATA</td>
                <td>Name</td>
                <td>Country</td>
                <td>Longitude</td>
                <td>Latitude</td>
                <td>Timezone</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="airport in airports | filter:search">
                <td>[[ airport.id ]]</td>
                <td>[[ airport.iata ]]</td>
                <td>[[ airport.name ]]</td>
                <td>[[ airport.full_name ]]</td>
                <td>[[ airport.longitude ]]</td>
                <td>[[ airport.latitude ]]</td>
                <td>[[ airport.timezone ]]</td>
                <td>
                    {% if _SESSION.is_admin %}
                    <a href="/airports/edit?id=[[ airport.id ]]">Edit</a>
                    <a href="/airports/delete?id=[[ airport.id ]]">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div data-ng-controller='mapControl'>
        <div id="map" class="map"></div>
    </div>

</section>

{% endblock %}
