{% extends '_section.html' %}

{% block title %} Editing Airport {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/airports/edit" method="post">
        <ul>
            {% for airport in airports %}
            <li class="hide"><label for="id">id</label><input type="text" name="id" id="id" value="{{ airport.id }}" readonly></li>
            <li><label for="name">Name</label><input type="text" name="name" id="name" value="{{ airport.name }}" required></li>
            <li><label for="longitude">Longitude</label><input type="text" name="longitude" id="longitude" value="{{ airport.longitude }}" required></li>
            <li><label for="latutude">Latutude</label><input type="text" name="latutude" id="latutude" value="{{ airport.latutude }}" required></li>
            <li><input type="submit" value="Confirm"></li>
            {% endfor %}
        </ul>
    </form>
    <div class="cancel"><a href="/airports">Cancel</a></div>
</div>
{% endblock %}
