{% extends '_section.html' %}

{% block title %} AERO {% endblock %}

{% block content %}
<section class="airport-list">
    <div class="option-bar">
        <h1 class="left">Airports</h1>
        {% if _SESSION.is_admin %}
        <div class="option-group right">
            <a href="/airports/add" class="btn">Add</a>
            <input data-ng-model="search" type="search">
        </div>
        {% endif %}
    </div>

    <table data-ng-controller='airportsList'>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Longitude</td>
                <td>Latitude</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="airport in airports | filter:search">
                <td>[[ airport.id ]]</td>
                <td>[[ airport.name ]]</td>
                <td>[[ airport.longitude ]]</td>
                <td>[[ airport.latitude ]]</td>
                <td>
                    {% if _SESSION.is_admin %}
                    <a href="/airports/edit?id=[[ airport.id ]]">Edit</a>
                    <a href="/airports/delete?id=[[ airport.id ]]">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}
