{% extends '_section.html' %}

{% block title %} Editing Airport {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/airports/edit" method="post">
        <ul>
            <li class="hide"><label for="old_iata">old_iata</label><input type="text" name="old_iata" id="old_iata" value="{{ airports.iata }}" readonly></li>
            <li><label for="iata">IATA Airport Code</label><input type="text" name="iata" id="iata" value="{{ airports.iata }}" required></li>
            <li><label for="name">Airport Name</label><input type="text" name="name" id="name" value="{{ airports.name }}" required></li>
            <li><label for="longitude">Longitude</label><input type="text" name="longitude" id="longitude" value="{{ airports.longitude }}" required></li>
            <li><label for="latitude">Latitude</label><input type="text" name="latitude" id="latitude" value="{{ airports.latitude }}" required></li>
            <li>
                <label for="timezone">Timezone</label>
                {% include "include/timezone.html" with {'timezone' : airports.timezone} %}
            </li>
            <li>
                <label for="country">Country</label>
                {% include "include/country.html" with {'country' : airports.country_id} %}
            </li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/airports/">Cancel</a></div>
</div>
{% endblock %}
