{% extends '_section.html' %}

{% block title %} Deleting Country? {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <h1>You are about to delete:</h1>
    <form action="/country/delete" method="post">
        <ul>
            <li class="hide"><label for="id">id</label><input type="text" name="id" id="id" value="{{ country.id }}" readonly></li>
            <li><label for="full_name">Full Name</label><input type="text" full_name="full_name" id="full_name" value="{{ country.full_name }}" required></li>
            <li><label for="short_name">Short Name</label><input type="text" name="short_name" id="short_name" value="{{ country.short_name }}" required></li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/country/">Cancel</a></div>
</div>
{% endblock %}
