{% extends '_section.html' %}

{% block title %} Editing Country {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/country/edit" method="post">
        <ul>
            <li><label for="abbr">Abbreviation</label><input type="text" name="abbr" id="abbr" value="{{ country.abbr }}" required></li>
            <li><label for="name">Full Name</label><input type="text" name="name" id="name" value="{{ country.name }}" required></li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/country/">Cancel</a></div>
</div>
{% endblock %}
