{% extends '_section.html' %}

{% block title %} New Flight? {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/flights/add" method="post">
        <ul>
            <li><label for="code">Code</label><input type="text" name="code" id="code" required></li>
            <li><label for="departure">Departure</label><input type="text" name="departure" id="departure" required></li>
            <li><label for="arrival">Arrival</label><input type="text" name="arrival" id="arrival" required></li>
            <li><label for="departure">Departing Time</label>
                <input id="departure_date" name="departure_date" type="datetime-local" data-ng-model="departure_date" max="[[ arrival_date ]]" required>
            </li>
            <li><label for="arrival">Arriving Time</label>
                <input id="arrival_date" name="arrival_date" type="datetime-local" data-ng-model="arrival_date" min="[[ departure_date ]]" required>
            </li>
            <li><label for="fare">Fare</label><input type="number" name="fare" id="fare" min="0" required></li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/flights">Cancel</a></div>
</div>
{% endblock %}
