{% extends '_section.html' %}

{% block title %} Editing Flight {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/flights/edit" method="post" data-ng-controller='airportsList'>
        <ul>
            <li class="hide"><label for="id">id</label><input type="text" name="id" id="id" value="{{ flight.id }}" readonly></li>
            <li><label for="code">Flight Number</label><input type="text" name="code" id="code" value="{{ flight.code }}" required></li>
            <li>
                <label for="departure">Departure</label>
                {% include "include/airports.html" with { 'data': 'departure', 'airport': flight.departure } %}
            </li>
            <li>
                <label for="arrival">Arrival</label>
                {% include "include/airports.html" with { 'data': 'arrival', 'airport': flight.arrival } %}
            </li>
            <li><label for="departure_date">Departing Time</label><input type="datetime-local" name="departure_date" id="departure_date" value="{{ flight.departure_date }}" required></li>
            <li><label for="arrival_date">Arriving Time</label><input type="datetime-local" name="arrival_date" id="arrival_date" value="{{ flight.arrival_date }}" required></li>
            <li><label for="fare">Fare</label><input type="number" name="fare" id="fare" value="{{ flight.fare }}" required></li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/flights/">Cancel</a></div>
</div>
{% endblock %}
