{% extends '_section.html' %}
{% import _self as m %}

{% block title %} AERO {% endblock %}

{% block content %}
<section class="interest-list flight-schedule">
    <div class="option-bar">
        <h1 class="left">Flight Schedule</h1>
        <div class="option-group right">
            {% if _SESSION.is_admin %}
            <a href="/flights/add" class="btn">Add</a>
            {% endif %}
            <input data-ng-model='search' type="search">
        </div>
    </div>

    <table data-ng-controller='flightList'>
        <thead>
            {% macro COLUMN(var, name) %}
            <td class="sort" data-ng-class="{focus: order=='{{var}}', asc: order=='{{var}}' && !reverse, des: order=='{{var}}' && reverse}" data-ng-click="order = '{{var}}'; reverse=!reverse">{{name}}</td>
            {% endmacro %}

            {% macro THEAD() %}
            {% import _self as inner %}
            <tr>
                {{ inner.COLUMN('id', 'ID') }}
                {{ inner.COLUMN('code', 'Flight Number') }}
                {{ inner.COLUMN('departure', 'Departure') }}
                {{ inner.COLUMN('departure_timezone', 'Departure Timezone') }}
                {{ inner.COLUMN('departure_date', 'Departuring Time') }}
                {{ inner.COLUMN('arrival', 'Arrival') }}
                {{ inner.COLUMN('arrival_timezone', 'Arrival Timezone') }}
                {{ inner.COLUMN('arrival_date', 'Arrivaing Time') }}
                {{ inner.COLUMN('fare', 'Fare') }}
                <td>Operations</td>
            </tr>
            {% endmacro %}

            {{ m.THEAD() }}
        </thead>
        <tbody>
            <tr data-ng-repeat='flight in flights | orderBy:order:reverse | filter:flightsFilter'>
                {% macro TBODY() %}
                <td>[[ flight.id ]]</td>
                <td>[[ flight.code ]]</td>
                <td>[[ flight.departure ]]</td>
                <td>[[ flight.departure_timezone ]]</td>
                <td>[[ flight.departure_date ]]</td>
                <td>[[ flight.arrival ]]</td>
                <td>[[ flight.arrival_timezone ]]</td>
                <td>[[ flight.arrival_date ]]</td>
                <td>[[ flight.fare | currency ]]</td>
                {% endmacro %}
                {{ m.TBODY() }}
                <td>
                    <a data-ng-click="interest(flight.id)">Compare</a>
                    {% if _SESSION.is_admin %}
                    <a href="/flights/edit?id=[[ flight.id ]]">Edit</a>
                    <a href="/flights/delete?id=[[ flight.id ]]">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>


<section class="flight-schedule">
    <div class="option-bar">
        <h1 class="left">Compare Flights</h1>
        <div class="option-group right">
            <input data-ng-model='search2' type="search">
        </div>
    </div>

    <table data-ng-hide="plansIsEmpty()" data-ng-controller='flightList'>
        <thead>
            {{ m.THEAD() }}
        </thead>
        <tbody>
        <tr data-ng-repeat='flight in plans | orderBy:order:reverse | filter:compareFilter'>
                {{ m.TBODY() }}
                <td>
                    <a data-ng-click="disinterest(flight.id)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}
