{% extends '_section.html' %}
{% import _self as m %}

{% block title %} New Flight? {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/flights/add" method="post" data-ng-controller='airportsList'>
        <ul>
            <li><label for="code">Code</label><input type="text" name="code" id="code" required></li>

            {% macro SELECT(var) %}
            <li>
                <label for="{{ var }}">{{ var }}</label>
                <select data-ng-model="{{ var }}" data-ng-options="i.iata + ' - ' + i.name for i in airportsOnce"></select>
                <input name="{{ var }}" id="{{ var }}" type="hidden" value="[[ {{ var }}.iata ]]" required/>
            </li>
            {% endmacro %}

            {{ m.SELECT('departure') }}
            {{ m.SELECT('arrival') }}

            <li><label for="departure">Departing Time</label>
                <input id="departure_date" name="departure_date" type="datetime-local" data-ng-model="departure_date" max="[[ arrival_date ]]" required>
            </li>
            <li><label for="arrival">Arriving Time</label>
                <input id="arrival_date" name="arrival_date" type="datetime-local" data-ng-model="arrival_date" min="[[ departure_date ]]" required>
            </li>
            <li><label for="fare">Fare</label><input type="number" name="fare" id="fare" min="0" required></li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/flights/">Cancel</a></div>
</div>
{% endblock %}
