{% extends '_section.html' %}
{% import _self as m %}

{% block title %} AERO {% endblock %}

{% block content %}
<section class="interest-list flight-schedule">
    <div class="option-bar">
        <h1 class="left">Flight Schedule</h1>
        <div class="option-group right">
            {% if _SESSION.is_admin %}
            <a href="/flights/add" class="btn">Add</a>
            {% endif %}
            <input data-ng-model='search' type="search">
        </div>
    </div>

    <table data-ng-controller='flightList'>
        <thead>
            {% macro THEAD() %}
            <tr>
                <td class="sort" data-ng-class="{asc: order=='id' && !reverse, des: order=='id' && reverse}" data-ng-click="order = 'id'; reverse=!reverse">ID</td>
                <td class="sort" data-ng-class="{asc: order=='code' && !reverse, des: order=='code' && reverse}" data-ng-click="order = 'code'; reverse=!reverse">Flight Number</td>
                <td class="sort" data-ng-class="{asc: order=='departure' && !reverse, des: order=='departure' && reverse}" data-ng-click="order = 'departure'; reverse=!reverse">Departure</td>
                <td class="sort" data-ng-class="{asc: order=='arrival' && !reverse, des: order=='arrival' && reverse}" data-ng-click="order = 'arrival'; reverse=!reverse">Arrival</td>
                <td class="sort" data-ng-class="{asc: order=='departure_date' && !reverse, des: order=='departure_date' && reverse}" data-ng-click="order = 'departure_date'; reverse=!reverse">Departing Time</td>
                <td class="sort" data-ng-class="{asc: order=='arrival_date' && !reverse, des: order=='arrival_date' && reverse}" data-ng-click="order = 'arrival_date'; reverse=!reverse">Arriving Time</td>
                <td class="sort" data-ng-class="{asc: order=='fare' && !reverse, des: order=='fare' && reverse}" data-ng-click="order = 'fare'; reverse=!reverse">Fare</td>
                <td>Operations</td>
            </tr>
            {% endmacro %}
            {{ m.THEAD() }}
        </thead>
        <tbody>
            <tr data-ng-repeat='flight in flights | orderBy:order:reverse | filter:flightsFilter'>
                {% macro TBODY() %}
                <td>[[ flight.id ]]</td>
                <td>[[ flight.code ]]</td>
                <td>[[ flight.departure ]]</td>
                <td>[[ flight.arrival ]]</td>
                <td>[[ flight.departure_date ]]</td>
                <td>[[ flight.arrival_date ]]</td>
                <td>[[ flight.fare | currency ]]</td>
                {% endmacro %}
                {{ m.TBODY() }}
                <td>
                    <a data-ng-click="interest(flight.id)">Compare</a>
                    {% if _SESSION.is_admin %}
                    <a href="/flights/edit?id=[[ flight.id ]]">Edit</a>
                    <a href="/flights/delete?id=[[ flight.id ]]">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>


<section class="flight-schedule">
    <div class="option-bar">
        <h1 class="left">Compare Flights</h1>
        <div class="option-group right">
            <input data-ng-model='search' type="search">
        </div>
    </div>

    <table data-ng-hide="plansIsEmpty()" data-ng-controller='flightList'>
        <thead>
            {{ m.THEAD() }}
        </thead>
        <tbody>
        <tr data-ng-repeat='flight in plans | orderBy:order:reverse'>
                {{ m.TBODY() }}
                <td>
                    <a data-ng-click="disinterest(flight.id)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}
