{% extends '_section.html' %}

{% block title %} AERO {% endblock %}

{% block content %}
<section class="flight-schedule">
    <div class="option-bar">
        <h1 class="left">Flight Schedule</h1>
        {% if _SESSION.is_admin %}
        <div class="option-group right">
            <a href="/flights/add" class="btn">Add</a>
            <input data-ng-model='search' type="search">
        </div>
        {% endif %}
    </div>

    <table data-ng-controller='flightList'>
        <thead>
            <tr>
                <td ng-click="order = 'id'; reverse=!reverse">ID</td>
                <td ng-click="order = 'code'; reverse=!reverse">Flight Number</td>
                <td ng-click="order = 'departure'; reverse=!reverse">Departure</td>
                <td ng-click="order = 'arrival'; reverse=!reverse">Arrival</td>
                <td ng-click="order = 'departure_date'; reverse=!reverse">Departing Time</td>
                <td ng-click="order = 'arrival_date'; reverse=!reverse">Arriving Time</td>
                <td ng-click="order = 'fare'; reverse=!reverse">Fare</td>
                <td>Operations</td>
            </tr>
            <tr>
                <td><input data-ng-model='search.id' type="search"></td>
                <td><input data-ng-model='search.code' type="search"></td>
                <td><input data-ng-model='search.departure' type="search"></td>
                <td><input data-ng-model='search.arrival' type="search"></td>
                <td><input data-ng-model='search.departure_date' type="search"></td>
                <td><input data-ng-model='search.arrival_date' type="search"></td>
                <td><input data-ng-model='search.fare' type="search"></td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat='flight in flights | orderBy:order:reverse | filter:flightsFilter'>
                <td>[[ flight.id ]]</td>
                <td>[[ flight.code ]]</td>
                <td>[[ flight.departure ]]</td>
                <td>[[ flight.arrival ]]</td>
                <td>[[ flight.departure_date ]]</td>
                <td>[[ flight.arrival_date ]]</td>
                <td>[[ flight.fare | currency ]]</td>
                <td>
                    <a href="/flights/interest?id=[[ flight.id ]]">Compare</a>
                    {% if _SESSION.is_admin %}
                    <a href="/flights/edit?id=[[ flight.id ]]">Edit</a>
                    <a href="/flights/delete?id=[[ flight.id ]]">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}
