{% extends '_page.html' %}

{% block head %}
<script>
    function FXshake($scope) {
        $scope.remove = function(x) {
            angular.element(document.getElementById(x)).removeClass('error');
        };
    }
</script>
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="login">
    <form action="login" method="post" data-ng-controller="FXshake">
        <ul>
            <li><label for="username">Username</label><input type="text" name="username" id="username" class="{{ status }}"  data-ng-model="username" data-ng-change="remove('username')" autofocus></li>
            <li><label for="password">Password</label><input type="password" name="password" id="password" class="{{ status }}"  data-ng-model="password" data-ng-change="remove('password')"></li>
            <li><input type="submit" value="Login"></li>
        </ul>
    </form>
</div>

<footer class="page">
    <div class="left">
        <span>&copy; 2014 Chiu-Hsiang Hsu &amp; Pu-Hsuan Wu</span>
    </div>
    <div class="right">
        <ul>
            <li><a href="signup">Join Galactic Membership</a></li>
        </ul>
    </div>
</footer>
{% endblock %}
