{% extends '_section.html' %}

{% block title %} New Flight? {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="new_flight" method="post">
        <ul>
            <li><label for="code">Code</label><input type="text" name="code" id="code" required></li>
            <li><label for="departure">Departure</label><input type="text" name="departure" id="departure" required></li>
            <li><label for="arrival">Arrival</label><input type="text" name="arrival" id="arrival" required></li>
            <li><label for="departure">Departing Time</label>
                <input id="departure_date" name="departure_date" type="datetime-local">
            </li>
            <li><label for="arrival">Arriving Time</label>
                <input id="arrival_date" name="arrival_date" type="datetime-local">
            </li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
</div>
{% endblock %}
