{% extends '_newAERO.html' %}

{% block title %}AERO{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<section>
   <h2>Find Flights</h2>
   <div class="col">
       <form class="block">
           <ul>
               <li><label for="departure">Leaving From</label><input type="text" name="departure" id="departure"></li>
               <li><label for="arrival">Traving To</label><input type="text" name="arrival" id="arrival"></li>
               <li><label for="trans_time">Transfers?</label><select id="trans_time" name="trans_time" ><option value="0" data-ng-selected="1" selected="selected">No transfer</option><option value="1">At most once</option><option value="2">At most twice</option></select></li>
               <ul class="col-group duo">
                   <li><label for="night">Overnight?</label><input type="checkbox" name="night" id="night"></li>
                   <li><label for="round_trip">Round Trip?</label><input type="checkbox" name="round_trip" id="round_trip"></li>
               </ul>
               <li><button>Find!</button></li>
           </ul>
       </form>
   </div>
</section>
<section>
    <h3>Your finding...</h3>
    
    <div class="ticket-grp">
        <ol>
            <li>
                <div class="ticket">
                    <div class="grping">
                        <div>
                            <span>2014-06-12</span>
                            <div>13:00</div>
                            <span>America/Chicago</span>
                        </div><div>
                            <span>&nbsp;</span>
                            <div>ORD</div>
                            <span>Chicago O`Hare International</span>
                        </div>
                    </div><div class="grping">
                        <div>
                            <span>2014-06-12</span>
                            <div>12:00</div>
                            <span>America/New_York</span>
                        </div><div>
                            <span>&nbsp;</span>
                            <div>ORD</div>
                            <span>Chicago O`Hare International</span>
                        </div>
                    </div>
                </div><div class="option block">
                    <ul>
                        <li><div>Direct</div></li>
                        <li>Flight No.<div>ARO-1024</div></li>
                        <li>Fare<div>$99,999</div></li>
                        <li>Flight Time<div>19:00:00</div></li>
                    </ul>
                    <a href="" class="btn">Marks This</a>
                </div>
            </li>
            <li>
                <div class="ticket">
                    <div class="grping">
                        <div>
                            <span>2014-06-12</span>
                            <div>13:00</div>
                            <span>America/Chicago</span>
                        </div><div>
                            <span>&nbsp;</span>
                            <div>ORD</div>
                            <span>Chicago O`Hare International</span>
                        </div>
                    </div><div class="grping">
                        <div>
                            <span>2014-06-12</span>
                            <div>12:00</div>
                            <span>America/New_York</span>
                        </div><div>
                            <span>&nbsp;</span>
                            <div>ORD</div>
                            <span>Chicago O`Hare International</span>
                        </div>
                    </div>
                </div><div class="option block">
                    <ul>
                        <li><div>Direct</div></li>
                        <li>Flight No.<div>ARO-1024</div></li>
                        <li>Fare<div>$99,999</div></li>
                        <li>Flight Time<div>19:00:00</div></li>
                    </ul>
                    <a href="" class="btn">Marks This</a>
                </div>
            </li>
        </ol>
    </div>
    
    <div class="ticket-grp">
        <header>
            <h4>1 Transfering Package</h4>
        </header>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>From</td>
                    <td>To</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>01:00</div>
                            <span>America/Chicago</span>
                        </div><div class="airport">
                            <div>ORD</div>
                            <span>Chicago O`Hare International</span>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>11:00</div>
                            <span>Asia/Tokyo</span>
                        </div><div class="airport">
                            <div>HND</div>
                            <span>Haneda Airport</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>13:00</div>
                            <span>Asia/Tokyo</span>
                        </div><div class="airport">
                            <div>HND</div>
                            <span>Haneda Airport</span>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>23:00</div>
                            <span>Asia/Bangkok</span>
                        </div><div class="airport">
                            <div>BKK</div>
                            <span>Suvarnabhumi Airport</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer>
            <div class="flights">
                Flight No.
                <ul>
                    <li>ARO-2020</li>
                    <li>ARO-2023</li>
                </ul>
            </div><div class="fare">
                Fare<em>99,999</em>
            </div><div class="duration">
                Flight Duration<em>99:99:99</em>
            </div><div class="options block">
                Options
                <a href="" class="btn">Marks This</a>
            </div>
        </footer>
    </div>
    
    <div class="ticket-grp">
        <header>
            <h4>2 Transfering Promotion</h4>
        </header>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>From</td>
                    <td>To</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>01:00</div>
                            <span>America/Chicago</span>
                        </div><div class="airport">
                            <div>ORD</div>
                            <span>Chicago O`Hare International</span>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>11:00</div>
                            <span>Asia/Tokyo</span>
                        </div><div class="airport">
                            <div>HND</div>
                            <span>Haneda Airport</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>13:00</div>
                            <span>Asia/Tokyo</span>
                        </div><div class="airport">
                            <div>HND</div>
                            <span>Haneda Airport</span>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>15:00</div>
                            <span>Asia/Taipei</span>
                        </div><div class="airport">
                            <div>TPE</div>
                            <span>Taiwan Taoyuan International Airport</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>17:00</div>
                            <span>Asia/Taipei</span>
                        </div><div class="airport">
                            <div>TPE</div>
                            <span>Taiwan Taoyuan International Airport</span>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            <span>2014-06-01</span>
                            <div>23:00</div>
                            <span>Asia/Bangkok</span>
                        </div><div class="airport">
                            <div>BKK</div>
                            <span>Suvarnabhumi Airport</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer>
            <div class="flights">
                Flight No.
                <ul>
                    <li>ARO-2020</li>
                    <li>ARO-2031</li>
                    <li>ARO-2012</li>
                </ul>
            </div><div class="fare">
                Fare<em>99,999</em>
            </div><div class="duration">
                Flight Duration<em>99:99:99</em>
            </div><div class="options block">
                Options
                <a href="" class="btn">Marks This</a>
            </div>
        </footer>
    </div>
</section>    
    
{% endblock %}
