{% extends '_newAERO.html' %}

{% block title %}AERO{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<section>
    <h2>Find Flights</h2>
    <div class="col">
        <form class="block">
            <ul>
                <li><label for="departure">Leaving From</label><input type="text" name="departure" id="departure"></li>
                <li><label for="arrival">Traving To</label><input type="text" name="arrival" id="arrival"></li>
                <li><label for="trans_time">Transfers?</label><select id="trans_time" name="trans_time" ><option value="0" data-ng-selected="1" selected="selected">No transfer</option><option value="1">At most once</option><option value="2">At most twice</option></select></li>
                <ul class="col-group duo">
                    <li><label for="night">Overnight?</label><input type="checkbox" name="night" id="night"></li>
                    <li><label for="round_trip">Round Trip?</label><input type="checkbox" name="round_trip" id="round_trip"></li>
                </ul>
                <li><button>Find!</button></li>
            </ul>
        </form>
    </div>
</section>
<section>
    <h3>Your finding...</h3>
    
    <div class="tickets-grp">
        <header>
            <h4>Title</h4>
        </header>
        <table>
            <thead>
                <tr><td colspan="4">Leaving Flights</td></tr>
                <tr>
                    <td></td>
                    <td>From</td>
                    <td>To</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="datetime">
                            2014-06-12<em>23:00</em>America/Chicaco
                        </div><div class="airport">
                            <em>XXX</em>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            2014-06-12<em>23:00</em>America/Chicaco
                        </div><div class="airport">
                            <em>XXX</em>
                        </div>
                    </td>
                    <td>
                        <ul class="label">
                            <li>Flight No.: <em>XXX-0000</em></li>
                            <li>Fare: <em>99,999</em></li>
                            <li>Duration: <em>999:99:99</em></li>
                        </ul><div class="options-list block">
                            <a href="" class="btn">Marks This</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div> <!-- Reserve --> </div>
        <table>
            <thead>
                <tr><td colspan="4">Returning Flights</td></tr>
                <tr>
                    <td></td>
                    <td>From</td>
                    <td>To</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="datetime">
                            2014-06-12<em>23:00</em>America/Chicaco
                        </div><div class="airport">
                            <em>XXX</em>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            2014-06-12<em>23:00</em>America/Chicaco
                        </div><div class="airport">
                            <em>XXX</em>
                        </div>
                    </td>
                    <td>
                        <ul class="label">
                            <li>Flight No.: <em>XXX-0000</em></li>
                            <li>Fare: <em>99,999</em></li>
                            <li>Duration: <em>999:99:99</em></li>
                        </ul><div class="options-list block">
                            <a href="" class="btn">Marks This</a>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>
                        <div class="datetime">
                            2014-06-12<em>23:00</em>America/Chicaco
                        </div><div class="airport">
                            <em>XXX</em>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            2014-06-12<em>23:00</em>America/Chicaco
                        </div><div class="airport">
                            <em>XXX</em>
                        </div>
                    </td>
                    <td>
                        <ul class="label">
                            <li>Flight No.: <em>XXX-0000</em></li>
                            <li>Fare: <em>99,999</em></li>
                            <li>Duration: <em>999:99:99</em></li>
                        </ul><div class="options-list block">
                            <a href="" class="btn">Marks This</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer>
            <ul class="label">
                <li>
                    Flight Duration: <em>999:99:99</em>
                </li><li>
                    Total Duration: <em>999:99:99</em>
                </li><li class="fare">
                    Fare: <em>99,999</em>
                </li>
            </ul><div class="options-list block">
                <a href="" class="btn">Marks This</a>
            </div>
        </footer>
    </div>
    
</section>
{% endblock %}
