{% extends '_section.html' %}
{% import _self as m %}

{% block title %} Tickets {% endblock %}

{% block content %}
<section class="ticket-list" data-ng-controller="formPost">
    <div>
        <h1>Ticket Search</h1>
        <form ng-submit="newForm_sql('/api/ticket/search')">
            <ul>
                <li>
                    <label for="departure">Departure</label>
                    {% include "include/airports.html" with {'data': 'departure', 'value': 'formData.departure', 'new': true} %}
                </li>
                <li>
                    <label for="arrival">Arrival</label>
                    {% include "include/airports.html" with {'data': 'arrival', 'value': 'formData.arrival', 'new': true} %}
                </li>
                <li>
                    <label for="trans_time">轉機次數</label>
                    <select id="trans_time" name="trans_time" data-ng-init="formData.trans_time=0" data-ng-model="formData.trans_time">
                        <option value="0" data-ng-selected="1">不轉機</option>
                        <option value="1">至多一次</option>
                        <option value="2">至多兩次</option>
                    </select>
                </li>
                <li>
                    <label for="round_trip">來回票</label>
                    <input type="checkbox" name="round_trip" data-ng-model="formData.round_trip" data-ng-init="formData.round_trip = 0" data-ng-true-value="1" data-ng-false-value="0">
                </li>
                <li>
                    <label for="night">轉機過夜</label>
                    <input type="checkbox" name="night" data-ng-model="formData.night" data-ng-init="formData.night = 1" data-ng-true-value="1" data-ng-false-value="0" data-ng-checked="formData.night">
                </li>
                <li><input type="submit" value="Search"></li>
            </ul>
        </form>
    </div>

    <div>
        <h1>Search Result</h1>
        <table data-ng-show="formReturn.length">
            <thead>
                <tr>
                    {% macro TD() %}
                    <td>Result</td>
                    <td>Flight Number</td>
                    <td>Departure IATA</td>
                    <td>Arrival IATA</td>
                    <td>Departure Time (local time)</td>
                    <td>Arrival Time (local time)</td>
                    <td>Flight Time</td>
                    <td class="sort" data-ng-class="{focus: formData.order=='flight_time', asc: formData.order=='flight_time' && formData.asc_desc=='ASC', des: formData.order=='flight_time' && formData.asc_desc=='DESC'}" data-ng-click="sort_sql('flight_time')">Total Flight Time</td>
                    <td class="sort" data-ng-class="{focus: formData.order=='transfer', asc: formData.order=='transfer' && formData.asc_desc=='ASC', des: formData.order=='transfer' && formData.asc_desc=='DESC'}" data-ng-click="sort_sql('transfer')">Transfer</td>
                    <td class="sort" data-ng-class="{focus: formData.order=='total_time', asc: formData.order=='total_time' && formData.asc_desc=='ASC', des: formData.order=='total_time' && formData.asc_desc=='DESC'}" data-ng-click="sort_sql('total_time')">Total Spend Time</td>
                    <td>Price</td>
                    <td>Total Price</td>
                    {% endmacro %}
                    {{ m.TD() }}
                    {% if _SESSION %}
                    <td>Options</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody data-ng-repeat="result in formReturn track by $index">
                <tr>
                    <td rowspan="3">[[ $index+1 ]]</td>
                    <td>[[ result.code1 ]]</td>
                    <td>[[ result.departure1_iata ]]</td>
                    <td>[[ result.arrival1_iata ]]</td>
                    <td>[[ result.departure1_date ]]</td>
                    <td>[[ result.arrival1_date ]]</td>
                    <td>[[ result.flight1_time ]]</td>
                    <td rowspan="3">[[ result.flight_time ]]</td>
                    <td rowspan="3">[[ result.transfer ]]</td>
                    <td rowspan="3">[[ result.total_time ]]</td>
                    <td>[[ result.fare1 ]]</td>
                    <td rowspan="3">[[ result.total_fare ]]</td>
                    {% if _SESSION %}
                    <td rowspan="3">
                        <!--
                        add to compare list
                        <a data-ng-click="interest(result.id)">Compare</a>
                        -->
                    </td>
                    {% endif %}
                </tr>
                <tr data-ng-show="result.code2">
                    <td>[[ result.code2 ]]</td>
                    <td>[[ result.departure2_iata ]]</td>
                    <td>[[ result.arrival2_iata ]]</td>
                    <td>[[ result.departure2_date ]]</td>
                    <td>[[ result.arrival2_date ]]</td>
                    <td>[[ result.flight2_time ]]</td>
                    <td>[[ result.fare2 ]]</td>
                </tr>
                <tr data-ng-show="result.code3">
                    <td>[[ result.code3 ]]</td>
                    <td>[[ result.departure3_iata ]]</td>
                    <td>[[ result.arrival3_iata ]]</td>
                    <td>[[ result.departure3_date ]]</td>
                    <td>[[ result.arrival3_date ]]</td>
                    <td>[[ result.flight3_time ]]</td>
                    <td>[[ result.fare3 ]]</td>
                </tr>
            </tbody>
        </table>
        <p data-ng-hide="formReturn.length">No Search Result</p>
    </div>
</section>

{% if _SESSION %}
<section class="ticket-list">
    <div class="option-bar">
        <h1 class="left">Compare Tickets</h1>
        <div class="option-group right">
            <input data-ng-model='search2' type="search">
        </div>
    </div>

    <table data-ng-hide="ticketsIsEmpty()" data-ng-controller='ticketList'>
        <thead>
            <tr>
                {{ m.TD() }}
                <td>Operations</td>
            </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat='ticket in tickets'>
                <td>
                    <a data-ng-click="disinterest(ticket)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{% endif %}
{% endblock %}
