{% extends '_section.html' %}

{% block title %} Tickets {% endblock %}

{% block content %}
<div data-ng-controller="formPost">
    <div>
        <h1>Ticket Search</h1>
        <form ng-submit="processForm('/api/ticket/search')">
            <ul>
                <li>
                    <label for="departure_id">Departure</label>
                    {% include "include/airports.html" with {'id': 'departure_id', 'ng': 'formData.departure_id'} %}
                </li>
                <li>
                    <label for="arrival_id">Arrival</label>
                    {% include "include/airports.html" with {'id': 'arrival_id', 'ng': 'formData.arrival_id'} %}
                </li>
                <li>
                    <label for="trans_time">轉機次數</label>
                    <select id="trans_time" name="trans_time" data-ng-init="formData.trans_time=0" data-ng-model="formData.trans_time">
                        <option value="0" data-ng-selected="1">不轉機</option>
                        <option value="1">至多一次</option>
                        <option value="2">至多兩次</option>
                    </select>
                </li>
                <li><input type="submit" value="Search"></li>
            </ul>
        </form>
    </div>

    <div>
        <h1>Search Result</h1>
        <table data-ng-show="formReturn.length">
            <thead>
                <tr>
                    <td>Result</td>
                    <td>Flight Number</td>
                    <td>Departure IATA</td>
                    <td>Arrival IATA</td>
                    <td>Departure Time (local time)</td>
                    <td>Arrival Time (local time)</td>
                    <td>Flight Time</td>
                    <td>Transfer</td>
                    <td>Price</td>
                    <td>Total Price</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody data-ng-repeat="result in formReturn track by $index">
                <tr>
                    <td rowspan="3">[[ $index+1 ]]</td>
                    <td>[[ result.code1 ]]</td>
                    <td>[[ result.departure1_iata ]]</td>
                    <td>[[ result.arrival1_iata ]]</td>
                    <td>[[ result.departure1_date ]]</td>
                    <td>[[ result.arrival1_date ]]</td>
                    <td>[[ result.flight1_time ]]</td>
                    <td>[[ result.transfer1 ]]</td>
                    <td>[[ result.fare1 ]]</td>
                    <td rowspan="3">[[ result.total_fare ]]</td>
                    <td rowspan="3">
                        {% if _SESSION %}
                        <!--
                        add to compare list
                        <a data-ng-click="interest(result.id)">Compare</a>
                        -->
                        {% endif %}
                    </td>
                </tr>
                <tr data-ng-show="result.code2">
                    <td>[[ result.code2 ]]</td>
                    <td>[[ result.departure2_iata ]]</td>
                    <td>[[ result.arrival2_iata ]]</td>
                    <td>[[ result.departure2_date ]]</td>
                    <td>[[ result.arrival2_date ]]</td>
                    <td>[[ result.flight2_time ]]</td>
                    <td>[[ result.transfer2 ]]</td>
                    <td>[[ result.fare2 ]]</td>
                </tr>
                <tr data-ng-show="result.code3">
                    <td>[[ result.code3 ]]</td>
                    <td>[[ result.departure3_iata ]]</td>
                    <td>[[ result.arrival3_iata ]]</td>
                    <td>[[ result.departure3_date ]]</td>
                    <td>[[ result.arrival3_date ]]</td>
                    <td>[[ result.flight3_time ]]</td>
                    <td>[[ result.transfer3 ]]</td>
                    <td>[[ result.fare3 ]]</td>
                </tr>
            </tbody>
        </table>
        <p data-ng-hide="formReturn.length">No Search Result</p>
    </div>
</div>
{% endblock %}
