{% extends '_newAERO.html' %}
{% import _self as m %}

{% block title %}AERO{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<section data-ng-controller="formPost">
    <h2>Find Flights</h2>
    <div class="col">
        <form class="block" ng-submit="newForm('/api/ticket/search')">
            <ul>
                <li>
                    <label for="departure">Leaving From</label>
                    {% include "include/airports.html" with {'data': 'departure', 'value': 'formData.departure', 'new': true} %}
                </li>
                <li>
                    <label for="arrival">Traving To</label>
                    {% include "include/airports.html" with {'data': 'arrival', 'value': 'formData.arrival', 'new': true} %}
                </li>
                <li>
                    <label for="trans_time">Transfers?</label>
                    <select id="trans_time" name="trans_time" data-ng-init="formData.trans_time=0" data-ng-model="formData.trans_time">
                        <option value="0" data-ng-selected="1" selected="selected">No transfer</option>
                        <option value="1">At most once</option>
                        <option value="2">At most twice</option>
                    </select>
                </li>
                <ul class="col-group duo">
                    <li>
                        <label for="night">Overnight?</label>
                        <input type="checkbox" name="night" data-ng-model="formData.night" data-ng-init="formData.night = 1" data-ng-true-value="1" data-ng-false-value="0" data-ng-checked="formData.night">
                    </li>
                    <li>
                        <label for="round_trip">Round Trip?</label>
                        <input type="checkbox" name="round_trip" data-ng-model="formData.round_trip" data-ng-init="formData.round_trip = 0" data-ng-true-value="1" data-ng-false-value="0">
                    </li>
                </ul>
                <li><button>Find!</button></li>
            </ul>
        </form>
    </div>

    <div data-ng-show="formReturn.length" class="sort-options">
        Sorts By:&nbsp;
        <a class="btn transparent"
            data-ng-class="{
                active: formData.order=='departure1_date, departure2_date, departure3_date',
                asc: formData.order=='departure1_date, departure2_date, departure3_date' && formData.asc_desc=='ASC',
                des: formData.order=='departure1_date, departure2_date, departure3_date' && formData.asc_desc=='DESC'
            }"
            data-ng-click="sort('departure1_date, departure2_date, departure3_date')"
        >Departure Time</a>&nbsp;
        <a class="btn transparent"
            data-ng-class="{
                active: formData.order=='arrival1_date, arrival2_date, arrival3_date',
                asc: formData.order=='arrival1_date, arrival2_date, arrival3_date' && formData.asc_desc=='ASC',
                des: formData.order=='arrival1_date, arrival2_date, arrival3_date' && formData.asc_desc=='DESC'
            }"
            data-ng-click="sort('arrival1_date, arrival2_date, arrival3_date')"
        >Arrival Time</a>&nbsp;
        <a class="btn transparent active"
            data-ng-class="{
                active: formData.order=='total_fare',
                asc: formData.order=='total_fare' && formData.asc_desc=='ASC',
                des: formData.order=='total_fare' && formData.asc_desc=='DESC'
            }"
            data-ng-click="sort('total_fare')"
        >Price</a>
    </div>

    <div class="tickets-grp" data-ng-show="formReturn.length" data-ng-repeat="result in formReturn track by $index">
        <header>
            <h4></h4>
        </header>
        <table>
            <thead>
                <tr><td colspan="4">Leaving Flights</td></tr>
                <tr>
                    <td></td>
                    <td>From</td>
                    <td>To</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% macro Ticket(num) %}
                <tr data-ng-show="result.code{{num}}">
                    <td>{{num}}</td>
                    <td>
                        <div class="datetime">
                            [[ result.departure{{num}}_date.split(' ')[0] ]]
                            <em>[[ result.departure{{num}}_date.split(' ')[1] ]]</em>
                        </div><div class="airport">
                            <em>[[ result.departure{{num}}_iata ]]</em>
                        </div>
                    </td>
                    <td>
                        <div class="datetime">
                            [[ result.arrival{{num}}_date.split(' ')[0] ]]
                            <em>[[ result.arrival{{num}}_date.split(' ')[1] ]]</em>
                        </div><div class="airport">
                            <em>[[ result.arrival{{num}}_iata ]]</em>
                        </div>
                    </td>
                    <td>
                        <ul class="label">
                            <li>Flight No.: <em>[[ result.code{{num}} ]]</em></li>
                            <li>Fare: <em>[[ result.fare{{num}} ]]</em></li>
                            <li>Duration: <em>[[ result.flight{{num}}_time ]]</em></li>
                        </ul>
                        {% if _SESSION %}
                        <div class="options-list block" data-ng-hide="result.code2">
                            <a href="" class="btn" data-ng-click="interest(result)">Marks This</a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endmacro %}
                {{ m.Ticket('1') }}
                {{ m.Ticket('2') }}
                {{ m.Ticket('3') }}
            </tbody>
        </table>
        <table data-ng-show="result.code4">
            <thead>
                <tr><td colspan="4">Returning Flights</td></tr>
                <tr>
                    <td></td>
                    <td>From</td>
                    <td>To</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{ m.Ticket(4) }}
                {{ m.Ticket(5) }}
                {{ m.Ticket(6) }}
            </tbody>
        </table>
        <footer>
            <ul class="label">
                <li>
                    Flight Duration: <em>[[ result.flight_time ]]</em>
                </li><li>
                    Transfer Duration: <em>[[ result.transfer ]]</em>
                </li><li>
                    Total Duration: <em>[[ result.total_time ]]</em>
                </li><li class="fare">
                    Fare: <em>[[ result.total_fare ]]</em>
                </li>
            </ul>
            {% if _SESSION %}
            <div class="options-list block">
                <a href="" class="btn" data-ng-click="interest(result)">Marks This</a>
            </div>
            {% endif %}
        </footer>
    </div>


</section>

{% endblock %}
