{% extends '_section.html' %}

{% block title %} Editing User {% endblock %}

{% block options %}
{% endblock %}

{% block content %}
<div class="">
    <form action="/users/edit" method="post">
        <ul>
            <li class="hide"><label for="id">id</label><input type="text" name="id" id="id" value="{{ user.id }}" readonly></li>
            <li><label for="username">Username</label><input type="text" name="username" id="username" value="{{ user.username }}" readonly></li>
            <li><label for="is_admin">is_admin</label><input type="checkbox" name="is_admin" id="is_admin" {% if user.is_admin %}checked{% endif %} required></li>
            <li><input type="submit" value="Confirm"></li>
        </ul>
    </form>
    <div class="cancel"><a href="/users/">Cancel</a></div>
</div>
{% endblock %}
