{% extends '_section.html' %}

{% block title %} AERO {% endblock %}

{% block content %}
<section class="user-list">
    <div class="option-bar">
        <h1 class="left">Users</h1>
        <div class="option-group right">
            {% if _SESSION.is_admin %}
            <a href="/users/add" class="btn">Add</a>
            {% endif %}
            <input data-ng-model="search" type="search">
        </div>
    </div>

    <table data-ng-controller='userList'>
        <thead>
            <tr>
                <td data-ng-click="order = 'id'; reverse=!reverse">ID</td>
                <td data-ng-click="order = 'username'; reverse=!reverse">Username</td>
                <td data-ng-click="order = 'is_admin'; reverse=!reverse">Admin</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat='user in users | orderBy:order:reverse | filter:search'>
                <td>[[ user.id ]]</td>
                <td>[[ user.username ]]</td>
                <td>[[ user.is_admin ]]</td>
                <td>
                    {% if _SESSION.is_admin %}
                    <a data-ng-hide="user.is_admin" href="/users/edit?id=[[ user.id ]]">Edit</a>
                    <a href="/users/delete?id=[[ user.id ]]">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}
