table {
    width: 100%;
}

tr {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 2em;
}

td {
    padding: 0px 3px;
}

thead tr {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
    font-weight: bold;
    color: #888;
}

thead td {

}

tbody tr {
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
/*    background-color: #f5f5f5;*/
}

tbody tr:hover {
    background-color: #d9ecff;
}

tbody td {

}

tbody td:last-child a {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: none;
    color: black;
    text-decoration: none;
    padding: 0px 5px;
}

tbody td:last-child a:active {
    background-color: #6895c1;
    border-color: #6895c1;
    color: white;
}

tbody tr:hover td:last-child a {
    display: inline-block;
}

tbody td:first-child:before {
    content:"";
    border: 1px solid white;
    border-radius: 9px;
    box-shadow: 0px 0px 2px #ccc;
    display: inline-block;
    height: 9px;
    margin-right: 5px;
    width: 9px;
    vertical-align: middle;
}

tbody td:first-child[data-status=normal]:before {
    background-color: #7bc168;
}

tbody td:first-child[data-status=caution]:before {
    background-color: #ffe064;
}

tbody td:first-child[data-status=warning]:before {
    background-color: #e78a00;
}

tbody td:first-child[data-status=inactive]:before {
    background-color: #d4d4d4;
}

tfoot tr {
    border-left: none;
    border-right: none;
    font-size: 0.9em;
    font-weight: bold;
    color: #888;
    text-align: center;
}

tfoot td {

}